altgraph==0.17.4
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
comtypes==1.4.2
idna==3.6
just_playback==0.1.8
packaging==24.1
pefile==2023.2.7
playsound3==2.2.1
PyAudio==0.2.14
pycparser==2.22
pydub==0.25.1
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pypiwin32==223
python-vlc==3.0.20123
pyttsx3==2.90
pytube==15.0.0
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
sounddevice==0.4.6
SpeechRecognition==3.10.3
srt==3.5.3
tinytag==1.10.1
tqdm==4.66.2
typing_extensions==4.11.0
urllib3==2.2.1
vosk==0.3.45
websockets==12.0
